/* Style for header */

.wrapper {
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	border-radius: 6px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	padding: 0 0 20px;
	overflow: hidden;
	border: 1px solid lightgray;
}

header {
	display: block;
}

#page-banner {
	background: rgba(0,0,0,0.08);
	padding: 10px 0;
}

#page-banner h1 {
	text-align: center;
	margin: 10px 0;
}

#page-banner p {
	text-align: center;
	font-size: 18px;
	margin: 10px;
}

#page-banner input {
	width: 90%;
	max-width: 300px;
	margin: 20px auto;
	display: block;
	border-radius: 6px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid lightgray;
	color: #444;
}

/* Style for booklist */

#book-list ul {
	list-style-type: none;
	margin: 0;
}

#book-list li {
	padding: 20px;
	border-left: 5px solid #ddd;
	margin: 20px 10px;
	transition: border-left-color .2s;
}

#book-list li:hover {
	border-left-color: #9361BF;
}

#book-list h1 {
	margin: 20px 40px;
}

#book-list .delete {
	float: right;
	border-radius: 6px;
	color: white;
	background: #9361BF;
	padding: 8px;
	cursor: pointer;
	transition: background .2s;
}

#book-list .delete:hover {
	background: #333;
}

/* Style for book add bar */

#add-book {
	width: 500px;
	margin: 0 auto;
}

#add-book input {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 300px;
	margin: 20px 0;
	padding: 10px;
	font-size: 16px;
	border-radius: 6px 0 0 6px;
	border: 1px solid lightgray;
	border-right: 0;
}

#add-book button {
	display: inline-block;
	margin: 20px 0;
	border: 1px solid #9361BF;
	background: #9361BF;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 0 6px 6px 0;
	width: 100px;
	float: left;
	border-left: 0;
	color: white;
}